<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar color="muted">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <h1 style="color:#fe3c72">
          <strong>{{today | date: 'MMMM'}}</strong>
        </h1>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="large" (click)="setOpen(true)">
          <!-- <ion-icon name="add-circle-outline" slot="end"  style="color: #fe3c72; font-size: 2rem;"></ion-icon> -->
          <ion-icon name="calendar-outline" slot="end" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Task</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form>
          <ion-item>
            <ion-label position="stack">When to do</ion-label>
            <ion-datetime></ion-datetime>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-grid>
    <ion-row style="color: white;">
      <ion-col *ngFor="let day of currentWeek;" class="ion-text-center dateCol" [ngClass]="compareDatetoToday(day) ? 'active': ''" size="1.7">
        <h5><strong>{{day | date:'EEE'}}</strong></h5>
        <p>{{day | date: 'dd'}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
