<ion-header class="ion-padding ion-margin" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fe3c72;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>Profile</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="muted">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button size="small" (click)="presentActionSheet()">
      <ion-icon name="chevron-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-padding-top" *ngIf="pets != null">
    <ion-segment mode="md" [scrollable]="true" [(ngModel)]="selectedPetName" color="danger"
      (ionChange)="onSegmentChange()">
      <ion-segment-button value="{{pet.name}}" *ngFor="let pet of pets">
        <ion-text>{{pet.name}}</ion-text>
      </ion-segment-button>
    </ion-segment>
    <ion-row class="dpRow">
      <ion-col size="4" class="thumbnail">
        <ion-thumbnail>
          <ion-fab vertical="bottom" horizontal="end">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <img src="{{selectedPet.dp}}" />
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <h2 style="padding-top: 10px;"><b>{{selectedPet.name}}</b></h2>
        <ion-text color="medium">
          {{selectedPet.breed}}
        </ion-text>

        <p>{{selectedPet.temparament.join(' | ')}}</p>

        <ion-buttons class="profileButtons">
          <ion-button class="followBtn" shape="round" size="small">Follow</ion-button>
          <ion-fab-button>
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="cog-outline"></ion-icon>
          </ion-fab-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10px;">
      <ion-col size="3" offset="1.5">
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <h2>
              <strong style="color: #fe3c72;">{{selectedPet.posts.length}}</strong>
            </h2>
            <p>Posts</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <h2>
              <strong style="color: #fe3c72;">{{selectedPet.followers.length}}</strong>
            </h2>
            <p>Followers</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <h2>
              <strong style="color: #fe3c72;">{{selectedPet.following.length}}</strong>
            </h2>
            <p>Following</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 style="font-size: 24px; margin-left: 10px;">
          Gallery
          <ion-icon name="chevron-down-outline" size="small" color="danger"></ion-icon>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="postRow" *ngIf="selectedPet.posts.length > 0">
      <ion-col class="postCol" *ngFor="let post of selectedPet.posts; let i=index;" size-sm="6" size-md="4" size-lg="2"
        size-xs="6">
        <ion-card class="post">
          <img alt="Some Post" src="{{post.image}}" />
          <ion-card-content class="ion-text-center">
            <ion-icon name="heart-outline" style="color: #fe3c72;"></ion-icon>
            {{post.likes.length}}
            <ion-icon name="chatbubble-outline" style="color: #fe3c72;"></ion-icon>
            5
            <ion-icon name="repeat-outline" style="color: #fe3c72;"></ion-icon>
            17
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>