<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="welcomeRow">
      <ion-col class="welcomeCol" size-lg="3" size-md="8" size-sm="10" size-xs="10">
        <ion-img src="../../../assets/SVG to use/1undraw_welcome_cats_thqn.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="pinderRow">
      <ion-col class="pinderCol" size-lg="4">
        <ion-img src="../../../assets/Pinder Assets/P-only logo.png" class="pinderLogo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="textRow">
      <ion-col class="textCol">
        <h1 class="text">Welcome</h1>
        <h5 class="ion-text-center" style="color:white;">Join our animal lovers community</h5>
        <h5 class="ion-text-center" style="color:white;">Your pet is a part of our family.</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button color="light" (click)="proceed()" shape="round">
      <h1 style="color: #fe3c72;">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </h1>
  </ion-button>
</ion-footer>

<!-- <img src="../../../assets/Just 0 logo wb.png" width="50"/>&nbsp;
<img src="../../../assets/desc-whiteblue.png" width="100"/> -->