<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="welcomeRow ion-padding">
      <ion-col class="welcomeCol ion-padding">
        <ion-img src="../../../assets/SVG to use/1undraw_welcome_cats_thqn.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="pinderRow">
      <ion-col class="pinderCol">
        <ion-img src="../../../assets/Pinder Assets/Pinder logo fullwhite desc.png" class="pinderLogo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="textRow">
      <ion-col class="textCol">
        <h1 class="text">Welcome</h1>
        <p class="ion-text-center" style="color:white;">Join with us to build a community for pet lovers</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" fill="solid" size="large" routerLink="/login" class="text">Get Started
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-footer>
<!-- <img src="../../../assets/Just 0 logo wb.png" width="50"/>&nbsp;
<img src="../../../assets/desc-whiteblue.png" width="100"/> -->