// * {
//     border: 1px solid black;
// }

ion-content {
    --ion-background-color: linear-gradient(#fe3c72, #000000);
    backdrop-filter: blur(100px);
}

.welcomeRow {
    // margin-top: 5vh;
    width: 100vw;
    height: 30vh;
    // overflow:auto;
    .welcomeCol {
        margin: auto;
        ion-img{
            height: 25vh;
        }
    }
}

.pinderRow {
    width: 100vw;
    height: 30vh;
    .pinderCol {
        margin: auto;
        ion-img {
            height: 25vh;
        }
    }
}

.textRow {
    .textCol {
        .text {
            text-align: center;
            color: whitesmoke;
            font-size: 60px;
        }
    }
}
ion-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button {
        height: 80px;
    }
}

