// *{
//     border: 1px solid black;
// }
ion-tabs {
    ion-tab-bar {
        position: absolute;
        bottom: 2vh;
        left: 5%;
        width: 90%;
        border-radius: 20px;
        --border: 0;
        ion-tab-button {
            --color: rgb(0, 0, 0);
            --color-selected: #fe3c72;
            ion-icon {
                font-size: 1.5rem;
            }
        }
    }

}

ion-avatar {
    --border-radius: 0px;
    img{
        padding: 20%;
        height: 100%;
        object-fit:fill;
    }
  }


