// *{
//     border: 1px solid black;
// }
ion-tabs {
    ion-tab-bar {
        background-color: rgb(241, 241, 241);
        position: absolute;
        bottom: 3vh;
        left: 5%;
        width: 90%;
        border-radius: 30px;
        padding: 5px 0px;
        --border: 0;
        color: black;
        ion-tab-button {
            --color-selected: #fe3c72 !important;
            --background: transparent;
            ion-icon {
                font-size: 1.5rem;
            }
        }
    }

}

ion-avatar {
    --border-radius: 0px;
    img{
        padding: 20%;
        height: 100%;
        object-fit:fill;
    }
  }


