<ion-header>
  <ion-toolbar>
    <ion-title>phoneAuth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="recaptcha-container"></div>
  <!-- style="display: none;" -->

  <ion-list *ngIf="!otpSent">
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input id="phoneNumber"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-note>OTP will be sent</ion-note>
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="sendOTP()">
      Send OTP
    </ion-button>
  </ion-list>

  <ion-list *ngIf="otpSent">
    <ion-item>
      <ion-label position="floating">Enter OTP recieved</ion-label>
      <ion-input id="otpphone"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-note>OTP sent to XXX</ion-note>
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="verifyOTP()">
      Enter OTP recieved
    </ion-button>
  </ion-list>

  <ion-card *ngIf="user">
    <ion-img [src]="user.photoURL"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="danger">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>