<ion-content [fullscreen]="true" color="light">
    <ion-grid>
        <ion-row class="topRow">
            <ion-col class="topCol">
                <ion-img src="../../../assets/SVG to use/undraw_friends_r511.svg"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="formRow">
            <ion-col class="formCol">
                <h1 class="ion-text-center">Sign In</h1>
                <form [formGroup]="loginCredentials" class="ion-margin" (ngSubmit)="login()">
                    <ion-item lines="full">
                        <ion-label position="floating" color="danger">E-mail</ion-label>
                        <ion-input formControlName="email" type="text" id="email"></ion-input>

                        <ion-text color="danger" *ngIf="email!.touched && email!.errors?.['required']">
                            Email is required
                        </ion-text>
                        <ion-text color="danger" *ngIf="email!.dirty && email!.errors?.['email']">
                            Enter a valid email address
                        </ion-text>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating" color="danger">Password</ion-label>
                        <app-show-hide-toggle>
                            <ion-input formControlName="password" type="password"></ion-input>
                        </app-show-hide-toggle>
                        <ion-text color="danger" *ngIf="password!.touched && password!.errors?.['required']">
                            Password is required
                        </ion-text>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-button fill="clear" color="dark">Forgot Password?</ion-button>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-button fill="clear" expand="block" size="large" color="danger" routerLink="/register"
                                routerDirection="forward">Signup</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" shape="round" size="large" (click)="login()"
                                [disabled]="!loginCredentials.valid">Login</ion-button>
                        </ion-col>
                    </ion-row>
                    <h5 class="ion-text-center ion-padding">Connect with</h5>
                    <ion-button fill="outline" expand="block" color="danger" (click)="GoogleAuth()">
                        <ion-icon name="logo-google" size="large" color="danger"></ion-icon>
                        <ion-text color="dark"> &nbsp; Login with google</ion-text>
                    </ion-button>
                </form>
                <ion-button class="ion-margin" routerLink="/register" routerDirection="forward" color="danger"
                    fill="clear" expand="full">
                    <p style="color: black;">New to Pinder?&nbsp;<span style="color: #fe3c72;">Register.</span></p>
                </ion-button>
                <!-- <img src="../../../assets/Pinder Assets/Pinder-PinkBlackDesc.png" width="30px"/> -->
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-footer class="ion-text-center">
        <h6>Made with
            <ion-icon name="heart" color="danger"></ion-icon>
            in India
        </h6>
    </ion-footer>
</ion-content>