<ion-content [fullscreen]="true">
    <ion-row class="topRow">
        <ion-col class="topCol">
            <ion-img src="../../../assets/SVG to use/undraw_friends_r511.svg"></ion-img>
        </ion-col>
    </ion-row>
    <ion-text class="ion-no-padding">
        <h1>Welcome to Pinder</h1>
    </ion-text>
</ion-content>

<ion-footer class="ion-text-center">
        <h4>Let's get Started</h4>
    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)" (signInFailure)="errorCallback($event)">
    </firebase-ui>
    <h6>Made with
        <ion-icon name="heart" color="danger"></ion-icon>
        in India
    </h6>
</ion-footer>