// *{
//     border: 1px solid whitesmoke;
//     // margin: 0;
//     // padding: 0;
// }
h1{
    font-size: 40px;
}

ion-button{
    --background: #fe3c72;
    --background-activated: rgb(255, 255, 255);
}

ion-content{
    // --background: linear-gradient(to right, #000000,#424242,#000000);
    text-align: center;
    ion-text{
        display: block;
        margin: auto;
    }
    .topRow{
        height: 80%;
        .topCol{
            height: 100%;
            ion-img{
                padding: 10px;
                margin: auto;
                display: block;
                object-fit:contain;
                height: 100%;
            }
    }
    }
}

ion-footer{
    height: 60vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    margin: 0;
}