// *{
//     border: 1px solid black;
// }
h1{
    font-size: 50px;
}

ion-button{
    --background: #fe3c72;
    --background-activated: rgb(255, 255, 255);
}

.topRow{
    // padding: 10px;
    height: 25vh;
    .topCol{
        height: 25vh;
        padding: 10px;
        ion-img{
            object-fit:contain;
            height: 100%;
            width: 60%;
            margin: auto;
        }
}
}

.formRow{
    padding: 15px;
    color: black !important;
    .formCol{
        background-color: #fff;
        border-radius: 30px;
        img{
            display: block;
            margin: auto;
        }
    }
}