<ion-content [fullscreen]="true" color="light">
  <ion-row class="topRow ">
    <ion-col class="topCol">
      <ion-img src="../../../assets/SVG to use/undraw_friends_r511.svg"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <h1>Welcome to Pinder</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col>
      <ion-card color="light">
        <ion-card-header class="ion-text-center ion-padding">
          <ion-card-title><h1>Signin</h1></ion-card-title>
          <ion-card-subtitle>Login using phone or google account</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-segment value="phone" #signInType>
            <ion-segment-button value="phone">
              <ion-label>Phone</ion-label>
            </ion-segment-button>
            <ion-segment-button value="google">
              <ion-label>Google</ion-label>
            </ion-segment-button>
          </ion-segment>

          <!-- Segment Phone Number Switch -->
          <div *ngIf="signInType.value == 'phone'">

            <ng-container *ngIf="!otpSent; else otpContainer">
              <div class="sec-container">
                  <h2 class="ion-text-center ion-padding-top">Enter phone number to get authentication code.</h2>
                <ion-item class="ion-padding-top" color="muted" counter="true" [counterFormatter]="counterFormatter" id="send-otp-item" >
                  <ion-chip color="muted">
                    <ion-avatar>
                      <img alt="India Flag" src="../../../assets/India.jpg" />
                    </ion-avatar>
                    <ion-label color="dark" class="ion-padding-end">
                      <h2>+91</h2>
                    </ion-label>
                  </ion-chip>
                  <ion-input maxlength="10" placeholder="Phone Number" type="tel" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" class="get-input"></ion-input>
                </ion-item>
                <ion-button expand="block" fill="solid" (click)="sendOtp()" class="button-press ion-margin-top" [disabled]="!phoneNumber">Send OTP</ion-button>
              </div>
            </ng-container>
            <ng-template #otpContainer>
              <div class="sec-container">
                <h2 class="ion-text-center ion-padding-top">Please enter the 6 - digit code sent to you at<br/> +91 {{phoneNumber}}</h2>
                <ion-item color="muted" counter="true" [counterFormatter]="counterFormatter" id="sign-in-item">
                  <ion-label position="floating" style="color: #fe3c72;">Enter OTP</ion-label>
                  <ion-input [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" class="get-input" type="number" maxlength="6"></ion-input>
                </ion-item>
                <ion-button expand="block" fill="solid" (click)="signIn()" class="button-press ion-margin-top">Sign In</ion-button>
              </div>
            </ng-template>
            <div id="sign-in-button"></div>

          </div>

          <!-- Segment Google Switch -->
          <div *ngIf="signInType.value == 'google'">
            <h2 class="ion-text-center ion-padding-top">Authenticate with Google</h2>
              <ion-button expand="block" fill="outline" size="medium" type="submit" color="danger" (click)="login()" class="ion-margin-top ion-margin-bottom">
                <ion-icon name="logo-google" slot="start" class="ion-margin"></ion-icon>
                Login with Google
              </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-text-center">
  <h6>Made with
    <ion-icon name="heart" color="danger"></ion-icon>
    in India
  </h6>
</ion-footer>